/**
 * Main
 */

@import 'base', 'pos-terminal';


.numpad-wrap {
	display: flex;
	flex-wrap: wrap;
}
.numpad-grid {
	flex: 0 0 33.333333%;
	font-size: 32px;
}
.numpad-grid .btn {
	font-size: 32px;
	height: 4em;
	width: 100%;
}


#receipt-preview-wrap iframe {
	border: none;
	height: 50vh;
	margin: 0;
	padding: 0;
	width: 100%;
}
