<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="../boot.php"
	cacheResult="false"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	timeoutForSmallTests="2"
	timeoutForMediumTests="8"
	timeoutForLargeTests="32"
	verbose="false"
	>

	<php>

		<env name="OPENTHC_TEST_ORIGIN" value="https://pos.openthc.example.com" />

		<!-- If defined, it will spew debug -->
		<!-- <const name="OPENTHC_TEST_HTTP_DEBUG" value="0" /> -->

		<env name="OPENTHC_TEST_WEBDRIVER_URL" value="" />

	</php>

	<testsuites>
		<testsuite name="All">
			<directory>.</directory>
		</testsuite>
	</testsuites>

	<coverage />

</phpunit>
