#
# OpenTHC Docker Ignore
#

**/.idea/workspace.xml
**/.idea/tasks.xml
*.phar
.build/
.config/
.env*
.git/
.gitignore
.gradle/
.idea/
.local/
.netlify/
.vscode/
bower_components/
build/
Custom/
node_modules/
public/
release/
source-data/
test/*.xsl
test/phpunit.xml
var/
vendor/
webroot/pub/
webroot/test-output/
webroot/vendor/
