;
; OpenTHC POS Configuration
;

;
; Database
[database_main]
	hostname = "127.0.0.1"
	database = "openthc"
	username = "openthc"
	password = ""


;
; Email Integration?
[email]
	smtp = "tls://user:pass@host.name:465"
	imap = ""


;
;
[phone-text]
	engine = "plivo"
	engine = "twilio"


;
; Plivo Account Keys
[plivo]
	key = ""
	secret = ""
	number = ""


;
; Twilio Account Keys
[twilio]
	key = ""
	secret = ""
	number = ""

;
;
[openthc_sso]
  url = "https://sso.openthc.dev"
  scope = "pos"
  client = "$YOUR_CLIENT"
  secret = "$YOUR_SECRET"
