{#
	Modal for Saving the Current Sale
#}

{% extends "block/modal.html" %}

{% set modal_title = "Sales :: Hold" %}
{% set modal_id = "pos-modal-sale-hold-list" %}

{% block body %}

<div id="sale-hold-list-wrap">
	<h2><i class="fas fa-sync fa-spin"></i> Loading ...</h2>
</div>

{% endblock %}

{% block foot %}
<button class="btn btn-outline-primary" id="pos-modal-sale-hold-save" name="a" type="button" value="save"><i class="fas fa-save"></i> Save</button>
{% endblock %}

{% block post_script %}
<script>
$('#sale-hold-list-wrap').on('click', '.btn-drop', function() {
	var $b = $(this);
	var cid = $b.data('cart-id');
	var arg = {
		a: 'drop',
		cart: cid,
	};
	$.post('/pos/cart/drop', arg, function() {
		$b.closest('tr').remove();
	})
});
</script>
{% endblock %}
